$red: #FD1F4A;
$yellow: #FBBD0D;
$black: #2D2C2E;
$white: #FAF5E6;

div {
    margin-top: 42px;
    margin-bottom: 0%;
    padding: 20px;
    bottom: 0;
    width: auto;
    text-align: center;
    background-color: $yellow;
    color: $black;
}