$red: #FD1F4A;
$yellow: #FBBD0D;
$black: #2D2C2E;
$white: #FAF5E6;


#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $red;
    padding: 10px;
}

#title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 67px;
}

p {
    color: $white;
    font-size: 42px;
}

button {
    font-size: 16px;
}