$red: #FD1F4A;
$yellow: #FBBD0D;
$black: #2D2C2E;
$white: #FAF5E6;

* {
    color: $white;
    font-size: 26px;
}

div {
    background: $red;
    border-top: 3px solid $white;
    text-align: right;
}

span {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
}

a:hover {
    color: $black;
    transition: 300ms;
}

a:not(:hover) {
    transition: 300ms;
}