$red: #FD1F4A;
$yellow: #FBBD0D;
$black: #2D2C2E;
$white: #FAF5E6;

* {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 26px;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px;
    padding: 16px;
    background: $white;
    border-radius: 16px;
}

#job-content {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-right: 16px;
    margin-left: 16px;
}

#job-title {
    margin: auto;
    font-size: 42px;
}

#hr {
    background: $black;
    border-radius: 25px;
    width: 100%;
    height: 4px;
}

#date-posted {
    margin: 10px
}

button {
    font-size: 16px;
}
